<mat-toolbar>
  <span>Reserva</span>
  <div class="example-spacer"></div>
  <button mat-raised-button color="warn" (click)="openDialog()">Crear reservación</button>
</mat-toolbar>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="fecha"> {{element.fecha | date}} </mat-cell>
    </ng-container>

    <!-- Cantidad Column -->
    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de personas </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="cantidad"> {{element.cantidad}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Accion </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editReserva(element)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="borrarReserva(element.id)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<!-- </div>
<h2 class="noHay">No hay reservas para mostrar</h2> -->
