<mat-toolbar>
  <span>Inicio</span>
  <div class="example-spacer"></div>
</mat-toolbar>

<div class="signifi">
  <mat-card>
    <mat-card-header>
      <mat-card-title>San Cipriano</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <br>
      <mat-card-subtitle><strong>- Descripción del lugar</strong> </mat-card-subtitle>
      <p>
        San Cipriano es un pequeño pueblo siendo una reserva natural, rodeado de bosque, ubicado cerca de la ciudad de Buenaventura, en el Pacífico, a 100 km de la capital del Valle del Cauca, es un lugar muy turístico por su hermoso ecosistema, hermosos senderos, cascadas naturales y su bosque húmedo tropical, lo hace un lugar perfecto para disfrutar de la naturaleza y vivir aventuras, saliendo de la monotonía.
      </p>
      <p>
        Todo comienza antes de llegar al pueblo, donde se empieza con un pequeño viaje en brujitas siendo una maravillosa travesía de 6 kilómetros, en este lugar se puede realizar diferentes actividades como caminatas ecológicas, pesca deportiva, paseos a caballo, visita al mariposario, las cataratas, pero la parte donde disfrutan mas los turistas es el rio uno de los mas limpios de todo el país.
      </p>
    </mat-card-content>

    <mat-card-content>
      <br>
      <mat-card-subtitle>
        <strong>- Horario y dias de atención</strong>
      </mat-card-subtitle>
      <p>Lunes a Domingo.</p>
    </mat-card-content>

    <mat-card-content>
      <br>
      <mat-card-subtitle>
        <strong>- Servicios e instalaciones</strong>
      </mat-card-subtitle>
      <p>Reserva natural.</p>
      <p>Senderos ecológicos.</p>
      <p>Cascadas y charcos.</p>
      <p>Guía turística.</p>
      <p>Transporte en brujitas.</p>
    </mat-card-content>

    <mat-card-content>
      <br>
      <mat-card-subtitle>
        <strong>- Fotografias del lugar</strong>
      </mat-card-subtitle>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of ">

          <mat-card class="mat-elevation-z0">
            <img mat-card-image src="assets/imagen1.jpg">
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>



